::selection {
  background: indigo;
  color: pink;
}

:root {
  background: lemonchiffon;
  color: #151515;
}

:any-link {
  color: darkmagenta;
}

@media (prefers-contrast: less) {
  :root {
    background: mistyrose;
  }
}

@media (prefers-contrast: more) {
  :root {
    background: whitesmoke;
  }
}
