::selection {
  background: hotpink;
  color: black;
}

:root {
  background: indigo;
  color: lemonchiffon;
}

:any-link {
  color: yellow;
}

@media (prefers-contrast: less) {
  :root {
    color: tan;
  }

  :any-link {
    color: silver;
  }
}

@media (prefers-contrast: more) {
  :root {
    background: black;
  }
}
